<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 数组遍历 -->
            <!--遍历过程中没有使用index下标 -->
            <ul>
                <li v-for="item in names">{{item}}</li>
            </ul>
            <!-- 遍历过程中获取索引 -->
            <ul>
                <li v-for="(item,index) in names">{{index+1}}  {{item}}</li>
            </ul>
        <!-- 对象遍历 -->
            <!-- 遍历对象过程中，只有一个值，只获取value -->
            <ul>
                <li v-for="mess in obj">{{mess}}</li>
            </ul>
            <!-- 获取key，value格式 -->
            <ul>
                <li v-for="(value,key) in obj">{{value}}-{{key}}</li>
            </ul>
    </div>
    <script>
            const app = new Vue({
                el:'#app',
                data:{
                    message:'vue体验',
                    // 数组遍历
                    names:['gc','lyf','yj','gyx','zyx'],
                    // 遍历对象
                    obj:{
                        name:'gc',
                        age:18,
                        gender:'男'
                    }
                }
            })
     </script>
</body>
</html>