* { 
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #1b1f2a;
} */
/* #212735 */
:root {
    --el-main-padding: 20px 0;
    --el-bg-color:#293042!important;
    --el-border-color-lighter:var(--el-bg-color)!important;
    --el-fill-color-blank:var(--el-bg-color)!important;
    --el-menu-text-color: #fff!important;
}