<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
            <h1>{{message}}</h1>
            <!-- v-model其实是语法糖，本质包含v-bind和v-on的两个操作    v-bind绑定value属性，v-on给挡前元素绑定input事件，从而实现双向绑定 -->
            <input type="text" v-model="message" placeholder="你好">

            <!-- 结合radio -->
            <div>        
                <label for="male">
                    <input type="radio" id="male"  name="sex" value="男" v-model="sex">男
                    <!-- 选项之间互斥   1.使用同种name  2.v-model绑定同一个sex -->
                </label>
                <label for="female">
                    <input type="radio" id="female" name="sex" value="女" v-model="sex">女
                </label>
                <h2>{{sex}}</h2>
            </div>
            
            <!-- 结合checkbox单选框 -->
            <div>
                <label for="agree">
                    <input type="checkbox" v-model="isAgree" id="agree">同意协议
                </label>
                <button :disabled="!isAgree">下一步</button>
            </div>

            <!-- 结合checkbox复选框 -->
            <div>
                <input type="checkbox" value="篮球" v-model="hobbies">篮球
                <input type="checkbox" value="足球" v-model="hobbies">足球
                <input type="checkbox" value="排球" v-model="hobbies">排球
                <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球

                <h2>您的爱好是：{{hobbies}}</h2>
            </div>

            <!-- 结合select单选-->
            <div>
                <select name="abc"  v-model="fruit">
                    <option value="苹果" >苹果</option>
                    <option value="香蕉" >香蕉</option>
                    <option value="葡萄" >葡萄</option>
                    <option value="脆梨" >脆梨</option>
                    <option value="西瓜" >西瓜</option>
                </select>
                <h2>选择的水果是:{{fruit}}</h2>
            </div>

            <!-- 结合select多选-->
            <div>
                <select name="abc"  v-model="fruits" multiple>
                    <option value="苹果" >苹果</option>
                    <option value="香蕉" >香蕉</option>
                    <option value="葡萄" >葡萄</option>
                    <option value="脆梨" >脆梨</option>
                    <option value="西瓜" >西瓜</option>
                </select>
                <h2>选择的水果是:{{fruits}}</h2>
            </div>
        </div>
        <script>
            const app = new Vue({
                el:'#app',
                data:{
                    message:'vue体验',
                    sex:'',
                    isAgree:false,
                    hobbies:[],
                    fruit:'香蕉',
                    fruits:[]
                }
            })
        </script>
</body>
</html>